<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="utf-8"/>
</head>
<body>
<input type="hidden" name="topic1Four" 	th:value="${deial.topic1Four}"	id="topic1Four" />
<input type="hidden" name="topic2Four"	th:value="${deial.topic2Four}"	id="topic2Four" />
<input type="hidden" name="topic3Four"	th:value="${deial.topic3Four}"	id="topic3Four" />
<input type="hidden" name="topic4Four"	th:value="${deial.topic4Four}"	id="topic4Four" />
<input type="hidden" name="topic5Four"	th:value="${deial.topic5Four}"	id="topic5Four" />
<input type="hidden" name="topic6Four"	th:value="${deial.topic6Four}"	id="topic6Four" />
<input type="hidden" name="topic7Four"	th:value="${deial.topic7Four}"	id="topic7Four" />
<input type="hidden" name="topic8Four"	th:value="${deial.topic8Four}"	id="topic8Four" />
<input type="hidden" name="topic9Four"	th:value="${deial.topic9Four}"	id="topic9Four" />
<input type="hidden" name="topic10Four"	th:value="${deial.topic10Four}"	id="topic10Four" />
<input type="hidden" name="topic11Four"	th:value="${deial.topic11Four}"	id="topic11Four" />
<input type="hidden" name="topic12Four"	th:value="${deial.topic12Four}"	id="topic12Four" />
<input type="hidden" name="topic13Four"	th:value="${deial.topic13Four}"	id="topic13Four" />
<input type="hidden" name="topic14Four"	th:value="${deial.topic14Four}"	id="topic14Four" />
<input type="hidden" name="topic15Four"	th:value="${deial.topic15Four}"	id="topic15Four" />
<input type="hidden" name="topic16Four"	th:value="${deial.topic16Four}"	id="topic16Four" />
<input type="hidden" name="topic17Four"	th:value="${deial.topic17Four}"	id="topic17Four" />
<input type="hidden" name="topic18Four"	th:value="${deial.topic18Four}"	id="topic18Four" />
<input type="hidden" name="topic19Four"	th:value="${deial.topic19Four}"	id="topic19Four" />
<input type="hidden" name="topic20Four"	th:value="${deial.topic20Four}"	id="topic20Four" />
<input type="hidden" name="topic21Four"	th:value="${deial.topic21Four}"	id="topic21Four" />
<input type="hidden" name="topic22Four"	th:value="${deial.topic22Four}"	id="topic22Four" />
<input type="hidden" name="topic23Four"	th:value="${deial.topic23Four}"	id="topic23Four" />
<input type="hidden" name="topic24Four"	th:value="${deial.topic24Four}"	id="topic24Four" />
<input type="hidden" name="topic25Four"	th:value="${deial.topic25Four}"	id="topic25Four" />
<input type="hidden" name="topic26Four"	th:value="${deial.topic26Four}"	id="topic26Four" />
<input type="hidden" name="topic27Four"	th:value="${deial.topic27Four}"	id="topic27Four" />
<input type="hidden" name="topic28Four"	th:value="${deial.topic28Four}"	id="topic28Four" />
<input type="hidden" name="topic29Four"	th:value="${deial.topic29Four}"	id="topic29Four" />
<input type="hidden" name="topic30Four"	th:value="${deial.topic30Four}"	id="topic30Four" />
<input type="hidden" name="topic31Four"	th:value="${deial.topic31Four}"	id="topic31Four" />
<input type="hidden" name="topic32Four"	th:value="${deial.topic32Four}"	id="topic32Four" />
<input type="hidden" name="topic33Four"	th:value="${deial.topic33Four}"	id="topic33Four" />
<input type="hidden" name="topic34Four"	th:value="${deial.topic34Four}"	id="topic34Four" />
<input type="hidden" name="topic35Four"	th:value="${deial.topic35Four}"	id="topic35Four" />
<input type="hidden" name="topic36Four"	th:value="${deial.topic36Four}"	id="topic36Four" />
<input type="hidden" name="topic37Four"	th:value="${deial.topic37Four}"	id="topic37Four" />
<input type="hidden" name="topic38Four"	th:value="${deial.topic38Four}"	id="topic38Four" />
<input type="hidden" name="topic39Four"	th:value="${deial.topic39Four}"	id="topic39Four" />
<input type="hidden" name="topic40Four"	th:value="${deial.topic40Four}"	id="topic40Four" />
<input type="hidden" name="trough1"	 th:value="${deial.trough1}"	 id="trough1" />
</body>
</html>