<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="utf-8"/>
</head>
<body>
<input type="hidden" name="topic1Four" 	th:value="${deial.topic1Four}"	id="topic1Four" />
<input type="hidden" name="topic2Four"	th:value="${deial.topic2Four}"	id="topic2Four" />
<input type="hidden" name="topic3Four"	th:value="${deial.topic3Four}"	id="topic3Four" />
<input type="hidden" name="topic4Four"	th:value="${deial.topic4Four}"	id="topic4Four" />
<input type="hidden" name="topic5Four"	th:value="${deial.topic5Four}"	id="topic5Four" />
<input type="hidden" name="topic6Four"	th:value="${deial.topic6Four}"	id="topic6Four" />
<input type="hidden" name="topic7Four"	th:value="${deial.topic7Four}"	id="topic7Four" />
<input type="hidden" name="topic8Four"	th:value="${deial.topic8Four}"	id="topic8Four" />
<input type="hidden" name="topic9Four"	th:value="${deial.topic9Four}"	id="topic9Four" />
<input type="hidden" name="topic10Four"	th:value="${deial.topic10Four}"	id="topic10Four" />
<input type="hidden" name="topic11Four"	th:value="${deial.topic11Four}"	id="topic11Four" />
<input type="hidden" name="topic12Four"	th:value="${deial.topic12Four}"	id="topic12Four" />
<input type="hidden" name="topic13Four"	th:value="${deial.topic13Four}"	id="topic13Four" />
<input type="hidden" name="topic14Four"	th:value="${deial.topic14Four}"	id="topic14Four" />
<input type="hidden" name="topic15Four"	th:value="${deial.topic15Four}"	id="topic15Four" />
<input type="hidden" name="topic16Four"	th:value="${deial.topic16Four}"	id="topic16Four" />
<input type="hidden" name="topic17Four"	th:value="${deial.topic17Four}"	id="topic17Four" />
<input type="hidden" name="topic18Four"	th:value="${deial.topic18Four}"	id="topic18Four" />
<input type="hidden" name="topic19Four"	th:value="${deial.topic19Four}"	id="topic19Four" />
<input type="hidden" name="topic20Four"	th:value="${deial.topic20Four}"	id="topic20Four" />
<input type="hidden" name="topic40Four"	th:value="${deial.topic40Four}"	id="topic40Four" />
<input type="hidden" name="trough1"	th:value="${deial.trough1}"	id="trough1" />


</body>
</html>