<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="renderer" content="webkit"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
    <link rel="stylesheet" th:href="@{/layuiadmin/layui/css/layui.css}" media="all"/>
    <link rel="stylesheet" th:href="@{/layuiadmin/style/admin.css}" media="all"/>
</head>
<body>

<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-header">辽宁中石油加油站神秘顾客检测问卷</div>
        <div class="layui-card-body" style="padding: 15px;">
            <table>
                <tr><td width="500px;">油站代码：<span th:text="${qizheAddress.qbianhao}"></span></td>
                    <td  width="500px;">执行月份：</td>
                    <td  width="500px;">油站得分：</td>
                </tr>
                <tr>
                    <td>油站名称：<span th:text="${qizheAddress.qname}"></span></td>
                    <td>油站简称：</td>
                    <td>所属省公司:<span th:text="${qizheAddress.qgongsi}"></span></td>
                </tr>
                <tr>
                    <td>所属地市公司:<span th:text="${qizheAddress.bumen}"></span></td>
                    <td>检查日期:</td>
                    <td>检查时段:</td>
                </tr>
                <tr>
                    <td colspan="3">油站类型:</td>
                </tr>

            </table>
            <br/>
            <table border="1">
                <tr>
                    <td width="200px;" colspan="8" align="center">A油站代码：</td>
                </tr>
                <tr>
                    <td width="80px;">指标</td>
                    <td  width="80px;">细项</td>
                    <td  width="400px;">考核内容</td>
                    <td width="60px;">分值</td>
                    <td  width="60px;">得分</td>
                    <td  width="100px;">不适应项</td>
                    <td  width="100px;">选项</td>
                    <td  width="200px;">扣分原因</td>
                </tr>
                <tr>
                    <td width="80px;">A.1</td>
                    <td  width="80px;"></td>
                    <td  width="400px;">★加油站内干净整洁（满分5分）（除了卫生间独立考核，油站内所有顾客能见到、接触到的地方）
                        发现一处明显垃圾、杂物扣1分，该项扣完为止； 评分标准：当MMP到达油站发现地上有垃圾或油渍，观察油站员工有否随时清扫以保持油站的干净整洁，
                        若MMP离开油站时该垃圾已清扫干净或油站员工正在清扫，给分，若垃圾仍未清扫，扣分。以下所有卫生项目均按此标准考评。
                    </td>
                    <td width="60px;">5</td>
                    <td  width="60px;"></td>
                    <td  width="100px;"></td>
                    <td  width="100px;"></td>
                    <td  width="200px;"></td>
                </tr>
                <tr>
                    <td width="80px;">A.2</td>
                    <td  width="80px;"></td>
                    <td  width="400px;">★夜间营业时灯光是否充足？ （不要求所有灯均打开，但必须保证营业场所的亮度足够）
                        1.夜间罩棚顶部灯应开启，如在白天检查则该项直接得分。
                        2.前庭檐口灯箱、大招牌正确开启(檐口19：00--6：00至少开入口一面；大招牌19：00--6：00开启，开启时间可适当调整，以太阳光线是否充足为准)；
                        3.便利店门楣灯箱、挂墙灯箱及便利店内照明灯完整（灯箱要有足够的亮度，夜间和阴天灯要开灯）。
                    </td>
                    <td width="60px;">5</td>
                    <td  width="60px;"></td>
                    <td  width="100px;"></td>
                    <td  width="100px;"></td>
                    <td  width="200px;"></td>
                </tr>
                <tr>
                    <td width="80px;">A.3</td>
                    <td  width="80px;"></td>
                    <td  width="400px;">所有加油站员工（包括正式和实习员工）是否
                    </td>
                    <td width="60px;"></td>
                    <td  width="60px;"></td>
                    <td  width="100px;"></td>
                    <td  width="100px;"></td>
                    <td  width="200px;"></td>
                </tr>
                <tr>
                    <td width="80px;"></td>
                    <td  width="80px;">1</td>
                    <td  width="400px;">★穿油站制服 （每人次扣2分，扣分不设上限）（满分2分）
                    </td>
                    <td width="60px;"></td>
                    <td  width="60px;"></td>
                    <td  width="100px;"></td>
                    <td  width="100px;"></td>
                    <td  width="200px;"></td>
                </tr>
                <tr>
                    <td width="80px;"></td>
                    <td  width="80px;"></td>
                    <td  width="400px;">所有在前庭或便利店提供服务的员工必须穿油站制服及工鞋（上衣和长裤必须为加油站制服，鞋为黑色或棕色绝缘鞋，不得穿着高跟鞋、拖鞋。）
                    </td>
                    <td width="60px;">2</td>
                    <td  width="60px;"></td>
                    <td  width="100px;"></td>
                    <td  width="100px;"></td>
                    <td  width="200px;"></td>
                </tr>
                <tr>
                    <td width="80px;"></td>
                    <td  width="80px;">2</td>
                    <td  width="400px;">★佩戴工牌 （每人次扣2分，扣分不设上限）（满分2分）
                    </td>
                    <td width="60px;"></td>
                    <td  width="60px;"></td>
                    <td  width="100px;"></td>
                    <td  width="100px;"></td>
                    <td  width="200px;"></td>
                </tr>
                <tr>
                    <td width="80px;"></td>
                    <td  width="80px;"></td>
                    <td  width="400px;">1.所有在前庭或便利店提供服务的员工必须佩带的工牌，工牌佩戴在最外衣的左胸前，且佩戴端正；
                        2.工牌字体及规格符合标准（工号牌上为加油站员工的编号，字迹清晰，由分公司按细节管理手册的要求统一印制；字体为手写则扣分；
                        3.工牌正面面向顾客，不可空白及翻转。
                    </td>
                    <td width="60px;">2</td>
                    <td  width="60px;"></td>
                    <td  width="100px;"></td>
                    <td  width="100px;"></td>
                    <td  width="200px;"></td>
                </tr>
                <tr>
                    <td width="80px;"></td>
                    <td  width="80px;">3</td>
                    <td  width="400px;">★员工仪容仪表良好（每人次扣2分，扣分不设上限）（满分2分）
                    </td>
                    <td width="60px;"></td>
                    <td  width="60px;"></td>
                    <td  width="100px;"></td>
                    <td  width="100px;"></td>
                    <td  width="200px;"></td>
                </tr>
                <tr>
                    <td width="80px;"></td>
                    <td  width="80px;"></td>
                    <td  width="400px;">1.整齐标准：工作装按季节配套穿着，不披衣、不敞胸露怀、不挽袖、不卷裤脚。着冬秋装时，内衣领不高于外衣领，内衣下摆不外露。
                        2.干净标准：穿着整洁、干净：无明显油污或其它污渍，不能有大片油污。
                        3.仪表端庄：面部、双手无严重污渍，不留长指甲，不佩带饰物；员工腰间不挂钥匙串；男员工及时刮脸和理发，长发不过耳，不留光头，不戴墨镜；女员工可适当化淡妆，不浓妆艳抹，前发不过眼，过肩长发束于脑后。
                    </td>
                    <td width="60px;">2</td>
                    <td  width="60px;"></td>
                    <td  width="100px;"></td>
                    <td  width="100px;"></td>
                    <td  width="200px;"></td>
                </tr>
                <tr>
                    <td width="80px;">A.4</td>
                    <td  width="80px;"></td>
                    <td  width="400px;">★前庭车辆有秩序
                    </td>
                    <td width="60px;"></td>
                    <td  width="60px;"></td>
                    <td  width="100px;"></td>
                    <td  width="100px;"></td>
                    <td  width="200px;"></td>
                </tr>
                <tr>
                    <td width="80px;"></td>
                    <td  width="80px;"></td>
                    <td  width="400px;">车辆多时，应主动指挥前庭车辆有序排队等候；如果车辆堵塞无序、司机抱怨，则扣分。
                    </td>
                    <td width="60px;">3</td>
                    <td  width="60px;"></td>
                    <td  width="100px;"></td>
                    <td  width="100px;"></td>
                    <td  width="200px;"></td>
                </tr>
                <tr>
                    <td width="80px;">A.5</td>
                    <td  width="80px;"></td>
                    <td  width="400px;">★加油效率：车辆进站后，员工尽快为顾客提供服务
                    </td>
                    <td width="60px;"></td>
                    <td  width="60px;"></td>
                    <td  width="100px;"></td>
                    <td  width="100px;"></td>
                    <td  width="200px;"></td>
                </tr>
                <tr>
                    <td width="80px;"></td>
                    <td  width="80px;"></td>
                    <td  width="400px;">1.前庭至少有一个员工，非作业状态时，在最靠近入口的加油机岛位等候顾客；如果前庭没有员工，但员工能1分钟之内出来服务顾客，或在顾客提示/鸣笛情况下，
                        1分钟内到前庭为顾客服务，不扣分；
                        2.特殊天气（寒冷/沙暴/暴雨等），前庭不繁忙的情况下，加油站员工可在便利店值守，并关注前庭，做到车到人到，及时为顾客服务。
                        3. 如员工出现拖沓、懒散、磨蹭等会明显造成顾客不满的怠慢行为，则扣3分。
                    </td>
                    <td width="60px;">3</td>
                    <td  width="60px;"></td>
                    <td  width="100px;"></td>
                    <td  width="100px;"></td>
                    <td  width="200px;"></td>
                </tr>
                <tr>
                    <td width="80px;">A.6</td>
                    <td  width="80px;"></td>
                    <td  width="400px;">★设备标识清晰，能正常使用
                    </td>
                    <td width="60px;"></td>
                    <td  width="60px;"></td>
                    <td  width="100px;"></td>
                    <td  width="100px;"></td>
                    <td  width="200px;"></td>
                </tr>
                <tr>
                    <td width="80px;"></td>
                    <td  width="80px;"></td>
                    <td  width="400px;">1.油机上有不同标号油品的标识，标识清晰；自助油机上有清晰的操作指引；如无标识/操作指引、标识/操作指引残旧脱落，则扣分。
                        2.油机不能正常使用时，如没有故障标识，则扣分。
                    </td>
                    <td width="60px;">3</td>
                    <td  width="60px;"></td>
                    <td  width="100px;"></td>
                    <td  width="100px;"></td>
                    <td  width="200px;"></td>
                </tr>
                <tr>
                    <td width="80px;"></td>
                    <td  width="80px;"></td>
                    <td  width="400px;">A部分小计（得分率）：
                    </td>
                    <td width="60px;">100%</td>
                    <td  width="60px;"></td>
                    <td  width="100px;"></td>
                    <td  width="100px;"></td>
                    <td  width="200px;"></td>
                </tr>
            </table>
        </div>
    </div>
</div>



</body>
</html>
