<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="renderer" content="webkit"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
    <link rel="stylesheet" th:href="@{/layuiadmin/layui/css/layui.css}" media="all"/>
    <link rel="stylesheet" th:href="@{/layuiadmin/style/admin.css}" media="all"/>
</head>
<body>

<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-header">辽宁中石油加油站神秘顾客检测问卷</div>
        <div class="layui-card-body" style="padding: 15px;">
            <table>
                <tr><td width="500px;">油站代码： </td>
                    <td  width="500px;">执行月份：</td>
                    <td  width="500px;">油站得分：</td>
                </tr>



            </table>


        </div>
    </div>
</div>



</body>
</html>
